@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Amaranth&family=Jost:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*Breve aclaracion!!! de seguro hay varias clases que sean redundantes, pero hice mi mejor esfuerzo por ahora, avance mucho en el proyecto estando de vacaciones en el mar :(  Para la tercer preEntrega voy a arreglar a profundidad el tema clases, de todas formas esta mas prolijo que la anterior entrega*/
header {
  background-color: #4c7a34;
}

h1 {
  font-family: "Amaranth", sans-serif;
}

.verde {
  background-color: #4c7a34;
}

img {
  max-width: 100%;
}

.texttarj {
  font-family: "Jost", sans-serif;
}

.titins {
  font-family: "Amaranth", sans-serif;
  color: #4c7a34;
}

.amaranth {
  font-family: "Amaranth", sans-serif;
}

.bg-gris {
  background-color: rgba(227, 225, 225, 0.6666666667);
}

.textoin {
  font-family: "Jost", sans-serif;
}

.Jost {
  font-family: "Jost", sans-serif;
  font-size: 1.05rem;
}

/*juro que apenas pueda arreglo el temita de los Jost jajaja*/
.textopoema {
  background-color: rgba(170, 170, 170, 0.6666666667);
}
.textopoema .poemita {
  font-family: "Aboreto", system-ui;
  font-size: 1.6rem;
}
.textopoema .autor {
  width: 300px;
  font-family: "Aboreto", system-ui;
  font-size: 1rem;
}

.chiq {
  font-size: 1rem;
}

.bg-naranja {
  background-color: #ffa834;
}

.naranja {
  color: #ffa834;
}

footer {
  background-color: #4c7a34;
}
footer h3 {
  font-size: 1.5rem;
  color: #fff;
}

.img {
  width: 400px;
  height: 400px;
}

.titulogaleria {
  font-family: "Amaranth", sans-serif;
  color: #4c7a34;
  font-size: 2.8rem;
  text-align: center;
}

.poem {
  background-color: #808080;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.grid-container-galeria {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px 390px 400px 400px 390px 400px 400px;
  gap: 10px;
  justify-content: center;
  object-fit: contain;
  max-width: auto;
  max-height: auto;
  grid-template-areas: "croton girasol suculentas" "croton girasol hongos" "florcactus trepadora hongos" "pinchudo trepadora orquidea" "pinchudo tricolor espinosa" "zebra tricolor espinosa" "lavanda lavanda lavanda";
}

.iconos {
  text-decoration: none;
  margin-right: 10px;
}
.iconos .fa-instagram, .iconos .fa-whatsapp, .iconos .fa-x-twitter, .iconos .fa-facebook {
  font-size: 3rem;
  color: #ffa834;
}

@media (max-width: 500px) {
  .grid-container-galeria {
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px;
  }
}
.grid-item {
  background-color: #ddd;
  display: flex;
}

.croton {
  grid-area: croton;
}

.girasol {
  grid-area: girasol;
}

.suculentas {
  grid-area: suculentas;
}

.florcactus {
  grid-area: florcactus;
}

.trepadora {
  grid-area: trepadora;
}

.hongos {
  grid-area: hongos;
}

.orquidea {
  grid-area: orquidea;
}

.pinchudo {
  grid-area: pinchudo;
}

.espinosa {
  grid-area: espinosa;
}

.tricolor {
  grid-area: tricolor;
}

.zebra {
  grid-area: zebra;
}

.lavanda {
  grid-area: lavanda;
}

@media (max-width: 500px) {
  .video {
    width: 400px;
    height: 250px;
  }
}
/*Media queries vista mobile del index*/
@media (max-width: 1200px) {
  .textoin {
    font-size: 1.43rem;
  }
}
@media (max-width: 992px) {
  .textoin {
    font-size: 1.5rem;
  }
  .imgmedia {
    width: 800px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
  }
  .texttarj {
    font-size: 0.82rem;
  }
  .textopoema {
    margin: auto;
    width: 750px;
    margin-bottom: 15px;
  }
  .textopoema .poemita {
    font-size: 1.3rem;
  }
  .textopoema .autor {
    font-size: 1rem;
  }
  .imgin {
    display: none;
  }
}
/*media queries para 768px*/
@media (max-width: 768px) {
  .textopoema {
    width: 600px;
  }
  .textopoema .poemita {
    width: 600px;
    font-size: 1.3rem;
  }
  .textopoema .autor {
    font-size: 0.7rem;
  }
  .espacio {
    margin-bottom: 15px;
  }
  .imgmedia {
    width: 700px;
    height: 200px;
  }
  .iconos .fa-instagram, .iconos .fa-whatsapp, .iconos .fa-x-twitter, .iconos .fa-facebook {
    font-size: 2rem;
    color: #ffa834;
    margin-left: 10px;
  }
}
@media (max-width: 576px) {
  .textopoema {
    width: 400px;
  }
  .textopoema .poemita {
    width: 360px;
    font-size: 1.1rem;
  }
  .textopoema .autor {
    font-size: 0.7rem;
  }
  .textin {
    width: 400px;
  }
  .imgmedia {
    width: 400px;
    height: 200px;
  }
}
.mapa {
  width: 600px;
}

/*Media queries vista mobile de la galeria*/
@media (max-width: 1400px) {
  .restextoin {
    font-size: 1.2rem;
  }
  .video {
    width: 460px;
  }
}
@media (max-width: 1200px) {
  .grid-container-galeria {
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 330px 320px 330px 330px 320px 330px 330px;
  }
  .video {
    width: 360px;
    height: 380px;
  }
  .restextoin {
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .grid-container-galeria {
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 230px 220px 230px 230px 220px 230px 230px;
  }
  .video {
    width: 700px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .grid-container-galeria {
    grid-template-columns: 170px 170px 170px;
    grid-template-rows: 170px 160px 170px 170px 160px 170px 170px;
  }
  .video {
    width: 500px;
    margin: auto;
  }
}
@media (max-width: 576px) {
  .grid-container-galeria {
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 110px 120px 120px 110px 120px 120px;
  }
  .video {
    width: 360px;
    height: 200px;
  }
}

/*# sourceMappingURL=estilos.css.map */
