footer{
    background-color: $bg-verde;
  }
    
.img {
    width: 400px;
    height: 400px;
}
.iconos{
    text-decoration: none;
    margin-right: 10px;
    .fa-instagram, .fa-whatsapp, .fa-x-twitter, .fa-facebook{
      font-size: 3rem;
      color: white;
    }
  }