.verde{
    background-color: $bg-verde;
}
.texttarj{
    font-family: $font-family-jost;
}
.titins{
    font-family: $font-family-mayus;
    color: $colorverde;
    }

.amaranth{
    font-family: $font-family-mayus;
}
.bg-gris{
    background-color: #e3e1e1aa;
}
.textoin{
    font-family: $font-family-jost;
       
}
.Jost{
font-family: $font-family-jost;
font-size: 1.05rem;
}

/*juro que apenas pueda arreglo el temita de los Jost jajaja*/
    

.chiq{
  font-size: 1rem;
}
.bg-naranja{
  background-color: $bg-naranja;
}
.naranja{
  color: $bg-naranja;
}

