/*FUENTES*/
.titins{
  font-family: $font-family-mayus;
  color: $colorverde;
}
.Jost{
    font-family: $font-family-jost;
    font-size: 1.05rem;
}
.amaranth{
    font-family: $font-family-mayus;
}
  /*Backgrounds*/
.verde{
    background-color: $bg-verde;
}
.bg-naranja{
  background-color: $bg-naranja;
}
.bg-gris{
  background-color: $bg-gris;
}

.bg-grisclaro{
  background-color: rgba(174, 174, 174, 0.242);
}
/*Colores fuentes*/

.colorverde{
  color: $colorverde;
}
.naranja{
  color: $bg-naranja;
}
