/*FUENTES*/
.titins{
  font-family: $font-family-mayus;
  color: $colorverde;
}
.Jost{
    font-family: $font-family-jost;
    font-size: 1.05rem;
}
.amaranth{
    font-family: $font-family-mayus;
}
  /*Backgrounds*/
.verde{
    background-color: $bg-verde;
}
.bg-naranja{
  background-color: $bg-naranja;
}
.bg-gris{
  background-color: $bg-gris;
}

.bg-grisclaro{
  background-color: rgba(174, 174, 174, 0.242);
}
.bg-gradientenaranja{
  background-image: rgb(2,0,36);
  background-image: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(115, 80, 30) 0%, rgba(255,211,0,1) 100%);
}
.bg-planta{
  background-image: url('../assets/img/bg-plantaaa.png'); /* URL de tu imagen */
  background-repeat: repeat; /* Repetir la imagen en ambas direcciones */
  background-color: rgba(255, 255, 255, 0.141); /* Color de fondo con transparencia */
  background-size: 10%; /* Hace que la imagen de fondo sea el 50% del tamaño original */
}
/*Colores fuentes*/

.colorverde{
  color: $colorverde;
}
.naranja{
  color: $bg-naranja;
}
