


$background:(
    verde: #4c7a34,
    naranja:#ffa834,
    gris: #5c5c5cac,
    grisclaro: rgba(174, 174, 174, 0.242),
);



$config-promo:(
    ancho: 70%,
    textalign: center,
    fontsizexl: 2rem,
    fontsizemd: 1.5rem,
    color: #4c7a34,
);

