@import 'variables';
@import 'mapas';

@mixin promo ($config: ()) {
    $config: map-merge($config-promo, $config);

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);

    h2{
        font-size: map-get($map: $config, $key: fontsizexl);
        color: map-get($map: $config, $key: color);
        font-family: $font-family-mayus;
        text-align: map-get($map: $config, $key: center);
    }
    p{
        font-size: map-get($map: $config, $key: fontsizemd);
        font-family: $font-family-jost;
        text-align: map-get($map: $config, $key: center);
    }
}

.promootono{
    @include promo;

    align-items: center;
}

/*JURO QUE CASI ME LARGO A LLORAR INTENTANDO HACER ESTE MAXIN*/
