$bg-verde: #4c7a34;
$bg-naranja:#ffa834;
$bg-gris: #5c5c5cac;

$colorverde:#4c7a34;
$colornaranja:#ffa834;

$font-family-mayus: 'Amaranth', sans-serif;
$font-family-jost: 'Jost', sans-serif;
$font-family-aboreto: 'Aboreto', system-ui;

