
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Amaranth&family=Jost:wght@300&display=swap');
@import 'variables';
@import 'resets';
@import 'header';
@import 'main-index';
@import 'main-galeria';
@import 'footer';
@import 'fuentesycolores';
@import 'mixins';
@import 'maincontacto';

 


.hovercard{
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  &:hover{
    transform: scale(1.1);
  }
}