
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Amaranth&family=Jost:wght@300&display=swap');
@import 'variables';
@import 'resets';
@import 'header';
@import 'main-index';
@import 'main-galeria';
@import 'footer';
@import 'fuentesycolores';
@import 'mixins';


 
img{
  max-width: 100%;
} 

.bg-gradientenaranja{
  background-image: rgb(2,0,36);
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,121,9,1) 0%, rgba(255,211,0,1) 100%);
}
.trans{
  position: absolute;
  transform: translate(200px);
}